*{
margin:0;
padding:0;
box-sizing: border-box;
user-select: none;
}
body{
    background: linear-gradient(40deg,orangered 50%,white 10%);
    background-size: 1800px 1800px;
}
#heading{
    text-align: center;
    margin: 20px;
}

#arrow{
    width: 50px;
    height: 50px;
    position: absolute;
    margin-top: -6px;
    box-shadow: 2px 5px 3px black;


}
#arrow:hover{
    transform: scale(1.1);
    transition: 1s;
}
li{
    margin: 20px;
    font-size: 20px;
}
li span{
    color: orangered;
}
